@model MFL.Web.Models.HomeModel

@{
    ViewBag.Title = "Home Page";
    ViewBag.Menu = "Home";
}

<div class="jumbotron">
    <h1>Movie Fantasy League</h1>
    <p class="lead">The site for picking movies and earning bragging rights with your friends.</p>
    <p><a href="@Url.Action("About", "Home")" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

@if(Model.IsNewSeasonPlanned)
{
    <div class="message">
        <span>A new season is coming!</span> @Model.PlannedSeason.Name is coming soon, the draft will open on @Model.PlannedSeason.StartEditDate!
    </div>
}

<h2>Standings for <a href="@Url.Action("Details", "Season", new { Id = Model.Standings.SeasonId })">@Model.Standings.SeasonName</a></h2>    

@{Html.RenderPartial("_Standings", Model.Standings);}
