@model MFL.Web.Models.SeasonDetailsModel

@{
    ViewBag.Title = Model.Name + " Details";
}

<h2>@Model.Name</h2>

@if(!string.IsNullOrEmpty(Model.Notes))
{
    <div class="bulletin">
        <span>Alert: </span>@Model.Notes
    </div>
}

@if(Model.Status == MFL.Web.Models.SeasonStatus.Completed)
{
    <div class="money">
        <span>Champion:</span> @Model.Champion
    </div>
}
else if(Model.Status == MFL.Web.Models.SeasonStatus.DraftPeriod)
{
    <div class="message">
        <span>This season's draft is currently happening!</span> Be sure to visit the <a href="@Url.Action("Index", "Draft", new { seasonId = Model.Id })">Draft Page</a> to pick your team of movies before @Model.EndEditDate.ToShortDateString().
    </div>
}
else if(Model.Status == MFL.Web.Models.SeasonStatus.OnGoing)
{
    <div class="message">
        The season is ongoing, grosses will be updated nightly from <a href="http://www.boxofficemojo.com">Box Office Mojo</a> until @Model.EndTotalUpdateDate.ToShortDateString().
    </div>
}
else // Planned
{
    <div class="bulletin">
        This season has been setup, but it hasn't started yet. You can begin making your movie selections on @Model.StartEditDate.ToShortDateString().
    </div>
}

@{Html.RenderPartial("_Standings", Model.Standings);}

<h3>The Teams</h3>

@foreach(var p in Model.PlayerSummaries)
{
    Html.RenderPartial("_PlayerTeamSummary", p);
}
