@model MFL.Web.Models.SeasonDetailsModel

@{
    ViewBag.Title = Model.Name + " Details";
}

<h2>@Model.Name</h2>

@if(!string.IsNullOrEmpty(Model.Notes))
{
    <div class="bulletin">
        <span>Alert: </span>@Model.Notes
    </div>
}

@if(Model.Status == MFL.Web.Models.SeasonStatus.Completed)
{
    <div class="money">        
        The season is completed, it ran from @Model.StartDate.ToShortDateString() to @Model.EndDate.ToShortDateString().        
        <br />
        <span>Champion:</span> @Model.Champion
    </div>
}
else if(Model.Status == MFL.Web.Models.SeasonStatus.DraftPeriod)
{
    <div class="bulletin">
        <span>This season's draft is currently happening!</span> Be sure to visit the <a href="@Url.Action("Index", "Draft", new { seasonId = Model.Id })">Draft Page</a> to pick your team of movies before @Model.EndEditDate.ToShortDateString().
        <br />
        The season will start on @Model.StartDate.ToShortDateString() and run through @Model.EndDate.ToShortDateString().
    </div>
}
else if(Model.Status == MFL.Web.Models.SeasonStatus.OnGoing)
{
    <div class="message">
        The season is <span>active</span>, grosses will be updated every night until @Model.EndTotalUpdateDate.ToShortDateString() with data from <a href="http://www.boxofficemojo.com">Box Office Mojo</a>.
    </div>
}
else // Planned
{
    <div class="message">
        This season has been setup, but it hasn't started yet. You can begin making your movie selections on @Model.StartEditDate.ToShortDateString().
        This season will run from @Model.StartDate.ToShortDateString() through @Model.EndDate.ToShortDateString().
    </div>
}

<h3>Standings</h3>

@{Html.RenderPartial("_Standings", Model.Standings);}

<h3>Teams</h3>

@foreach(var p in Model.PlayerSummaries)
{
    Html.RenderPartial("_PlayerTeamSummary", p);
}
