@model MFL.Web.Models.PlayerTeamSummaryModel

<div class="buffer">
    @if (Model.ShowPlayerName)
    {
        <h4>@Model.Player</h4>
    }

    @if (Model.ShowSeasonName)
    {
        <h4><a href="@Url.Action("Details", "Season", new { id = Model.Season.Id })">@Model.Season.Name</a></h4>
    }

    @if (Model.ShowSeasonChampion)
    {
        <div class="money">
            <span>Champion:</span> @Model.ChampionName
        </div>
    }

    <table class="tablesaw table-striped" data-mode="stack">
        <thead>
            <tr>
                <th>Title</th>
                <th>Release Date</th>
                <th class="text-right">Domestic Gross</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model.Movies)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Details", "Movie", new { Id = m.Id })">@m.Title</a>
                    </td>
                    <td>
                        @m.ReleaseDate.ToShortDateString()
                    </td>
                    <td class="text-right">
                        @m.DomesticGross.ToString("C")
                    </td>
                </tr>
            }
        </tbody>
        <tfoot></tfoot>
    </table>
</div>