@model MFL.Web.Models.StandingsModel

@if (Model.IsHomepage)
{
    <h2>Standings for <a href="@Url.Action("Details", "Season", new { Id = Model.SeasonId })">@Model.SeasonName</a></h2>    
}
else
{
    <h3>Standings for <a href="@Url.Action("Details", "Season", new { Id = Model.SeasonId })">@Model.SeasonName</a></h3>    
}

<table class="tablesaw table-striped" data-mode="stack">
    <thead>
        <tr>
            <th>Player</th>
            <th>Progress</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model.Standings)
        {
            <tr>
                <td>
                    @s.Name
                </td>
                <td>
                    @s.Progess
                </td>
                <td>
                    @s.Total.ToString("C")
                </td>
            </tr>
        }
    </tbody>
    <tfoot></tfoot>
</table>